@media screen and (max-width:320px ){
    .banner{
        padding: 0rem ;
    }
    .section1{
        width: 100%;

    }
    .section1 h1{
        font-size: 2.1rem ;

    }
    .section1 p{
        width: 90%;
    }
    .man{
        width: 100%;
    }
    .man .box{
        width: 100%;
        /* margin: 0rem ; */
        padding: 0rem ;
    }
    .fotter h2 {
        width: 100%;
    }
   
}
